:root{
    --yel: rgb(209, 173, 14);
    --ar: rgb(211, 141, 10);
    --blk: rgba(0, 0, 0, 0.973);
}

body{
    background-image: url(./media/sfondo-giornale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

body::before{
     background-image: url(./media/sfondo-giornale.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar{
    background: var(--blk);
    position: sticky; top: 0%; z-index: 1000;
}

.sidebar{
    position: sticky;
    top: 30px;
    background: linear-gradient(rgba(255, 255, 255, 0.137), var(--blk) 7%);
}

.side-items{
    text-decoration: underline 1px var(--ar);
}



.container-titolo{
    background: linear-gradient(rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0.685), rgba(255, 255, 255, 0.041) 95%);
    padding-bottom: 220px;
}
.header{background-color: transparent; overflow: hidden;}

.pbg{
    letter-spacing: 20px;
    font-weight: 700;
    font-size: 55px;
   color: var(--blk);
}




.pbg-1{
    animation: dx linear infinite 5s;
    position: relative;
}

.pbg-2{
    animation: sx linear infinite 5s ;
    position: relative;
    right: 0%;
}

.pbg-3{
    animation: dx linear infinite 4s;
    position: relative;
}

.pbg-4{
    animation: sx linear infinite 5s;
    position: relative;
    right: 0%;
    width: 100vw;
}

.titolo{
    color: var(--blk);
    filter: drop-shadow(5px 5px 1px var(--ar));
   
    font-weight: bolder;
    font-size: 80px;
    letter-spacing: 5px;
}



.sott-tit{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.aggior{
    color: rgb(136, 2, 2);
}

.notizie{
    background-color: white ;
    border-radius: 20px;
}

@keyframes dx { 0%{left: -50%;}
100%{left: 110%;}
    
}
@keyframes sx { 0%{right: -50%;}
100%{right: 110%;}
    
}